body {
  background-color: lightblue;
}

div { 
  width: 70px;
  height: 64px;
  position: absolute;
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: none;
  background-image: url('./move.png')
}
