.bg {
  background: url('/programs/background.jpg') no-repeat;
  background-size: contain; /**/
  position: fixed;
  width: 50%;
  height: 150%;
 top:0;
  left:25%;
  z-index: -1;
}
section {
  color: red;
  font-family: arial;
  width: 500px;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}
/*
.l {
	position: fixed;
	margin: auto;
	top: 40px;
	left: 1540px;
	width: 2600px;
	height: 2500px;
	border: 1px solid black;
}
.r {
	position: fixed;
	margin: auto;
	top: 40px;
	left: 1540px;
	width: 1600px;
	height: 200px;
	border: 1px solid black;
}
*/

.l, .r {
	position: fixed;
	margin: auto;
	top: 40px;
	border: 1px solid black;
	width: 50%;
}

.l {
	left: 0;
}
.r {
	left: 50%;
}


.l img {
  width: 800px;
  height: 600px;
}

.r img {
  width: 800px;
  height: 600px;
}

#image1l {
  border-color: red;
}
#image2l {
  border-color: green;
}

#image3l {
  border-color: blue;
}

#image4l {
  border-color: lime;
}


#image1r {
  border-color: red;
}
#image2r {
  border-color: green;
}

#image3r {
  border-color: blue;
}

#image4r {
  border-color: lime;
}

