.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 400px;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer--base {
  background:url('../images/background/move-b/move-4.svg') left top / cover repeat-y ;  -webkit-transform: translateZ(0) scale(0);
    z-index: 4;
}
.parallax__layer--base1 {
  background:url('../images/background/move-b/move-3.svg') left top / cover repeat-y;  -webkit-transform: translateZ(-300px) scale(2);
    z-index: 3;
 }
.parallax__layer--deep {
	background:url('../images/background/move-b/move-2.svg') left top / cover repeat-y; -webkit-transform: translateZ(-600px) scale(3);
    z-index: 2;
  }
.parallax__layer--back {
background:  url('../images/background/move-b/move-1.svg') left top / contain repeat-y fixed, black;  -webkit-transform: translateZ(90px) scale(.7);
  z-index: 1;
}


