* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { overflow: hidden; height: 100%; }

body {
    background: url(../img/logo-ps.svg) center center / contain no-repeat fixed, rgba(0,0,0,0.97);
    color: rgba(250,250,250,1);
    transform: translateZ(0px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

:link,
:visited {
    color: rgba(255,255,255,.8);
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    text-transform: capitalize;
}

.slides {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 42rem;
    perspective-origin: bottom right;
}

.slide {
    display: flex;
    flex-flow: row wrap;
    background: rgba(0,100,200,.31);
    color: rgba(250,250,250,1);
    width: 100%;
    min-height: 100%;
    border: 2px solid;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: translateZ(0);
    position: relative;
    padding: 40% 5%;
}
.slide .bg {
    background: repeating-linear-gradient( rgba(102, 204, 102, .4), rgba(102, 204, 102, .3) 30px, rgba(92, 184, 92, .4) 30px, rgba(92, 184, 92, .5) 60px ),
    url(../../media/x62.png) top left, rgba(170, 204, 0, 0.1);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: yes;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    /*    transform: translateZ(-150px) scale(3) translateX(3.6rem) rotate(85.5deg) translateY(5rem) rotateZ(8deg); */
    transform: scale(3);
    transform-style: preserve-3d;
    transform-origin: 100% 100%;
}
.slide:nth-child(odd) {
    background: rgba(60,130,120,.51);
}
.slide:nth-child(odd) .bg {
    transform: scale(2) translateZ(-200px);
}
.slide:nth-child(2n+1) .bg {
    background: repeating-linear-gradient( rgba(102, 204, 102, .4), rgba(102, 204, 102, .3) 30px, rgba(92, 184, 92, .4) 30px, rgba(92, 184, 92, .5) 60px ),
    url(../../media/x42.png) top left, rgba(170, 4, 120, 0.1);
}

.slide:nth-child(1) .bg {
    transform-origin: 0 0;
    background: url(../img/w1.svg) top left repeat-y,
    url(../img/w2.svg) top left repeat-y,
    url(../img/w3.svg) top left / 10% repeat-y,
    url(../img/w4.svg) top left / 10% repeat-y, 
    rgba(0,0,0,1);
    background-attachment: fixed;
    background-size: contain;
    animation: flow-y 40s infinite ease-in-out;
}

.slide:nth-child(1) .bg::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    transform-origin: 0 0;
    background: url(../img/w1.svg) center center repeat-y,
    url(../img/w2.svg) left center repeat-y,
    url(../img/w3.svg) left center repeat-y,
    url(../img/w4.svg) center center repeat-y, 
    rgba(0,255,0,.7);
    background-attachment: fixed;
    background-size: contain;
    animation: flow-r 40s infinite ease-in-out;
}

@keyframes flow-y {
    50% { background-position: 0 11rem , 0 -22rem, 0 55rem, 0 -110rem, 0 30rem;  }
}
@keyframes flow-r {
    50% { background-position: 0 -1rem , 0 2rem, 0 -5rem, 0 10rem, 0 -30rem;  }
}
    
.sine {
    text-align: center;
}
.sine_span {
    display: inline-block;
    margin:0;
    padding:0;
    height: 20px;
    width: 40px;
    border: 1px solid black;
}
.sine_span_first {
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    transform: translate(-20px, 0) scale(2,1);
}
.sine_span_second {
    border-top: none;
    border-radius: 0 0 20px 20px;
    transform: translate(20px, 20px) scale(2,1);
}
.sine_span_first_2 {
    transform: translate(0, 20px) scale(1,2);
}
.sine_span_second_2 {
    transform: translate(0, 60px) scale(1,2);
}


nav {
    position: fixed;
    z-index: 50;
    bottom: 0;
    width: 100%;
    background: rgba(90,60,20,.9);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
    nav {
	justify-content: space-around;
    }
}
@media screen and (max-width: 640px) {
    nav {
	flex-flow: column wrap;
	width: 0%;
    }
    nav li {
	display: block;
    }
}

nav > ul {
    display: block;
    list-type: none;
    padding: 0.5rem;
    background: rgba(200,120,40,.4);
}
nav li {
    margin: 0;
    display: inline-block;
    padding: 0;
    
}

