.bg {
  background: url('./background.jpg') no-repeat;
  background-size: contain;
  position: fixed;
  width: 100%;
  height: 500%;
  bottom:0;
  left:0;
  z-index: -1;
}
section {
  color: red;
  font-family: arial;
  width: 500px;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}

.c {
	position: fixed;
	margin: 0 auto;
	top: 40px;
	left: -540px;
	width: 2600px;
	height: 5000px;
	border: 1px solid black;
}

.c img {
  width: 2600px;
  height: 5000px;
}

#image1 {
  border-color: red;
}
#image2 {
  border-color: green;
}

#image3 {
  border-color: blue;
}

#image4 {
  border-color: lime;
}


