* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { overflow: hidden; height: 100%; }

body {
    background: transparent center center / contain no-repeat fixed;
    color: transparent;
    transform: translateZ(0px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.slide .bg {
    background: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: yes;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    transform: translateZ(-150px) scale(3) translateX(3.6rem) rotate(85.5deg) translateY(5rem) rotateZ(8deg);
    transform: scale(3);
    transform-style: preserve-3d;
    transform-origin: 100% 100%;
}

.slide:nth-child(2n+1) .bg {
   transform-origin: 0 0;
    background: url(../images/background/move-1r.svg) top right repeat-y,
    url(../images/background/move-2r.svg) top right repeat-y,
    url(../images/background/move-3r.svg) top right / 10% repeat-y,
    url(../images/background/move-4r.svg) top right / 10% repeat-y, 
	rgba(0,0,0,1);
    background-size: contain;
    animation: flow-y 40s infinite ease-in-out;
}

.slide:nth-child(1) .bg {
    transform-origin: 0 0;
    background: url(../images/background/move-1.svg) top left repeat-y,
    url(../images/background/move-2.svg) top left repeat-y,
    url(../images/background/move-3.svg) top left / 10% repeat-y,
    url(../images/background/move-4.svg) top left / 10% repeat-y, 
	url(../images/background/background_top_transparent.png) top left no-repeat,
	rgba(0,0,0,1);
    background-size: contain;
    animation: flow-y 40s infinite ease-in-out;
}

.slide:nth-child(1) .bg::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    transform-origin: 0 0;
    background: url(../images/background/move-1.svg) center center repeat-y,
    url(../images/background/move-2.svg) left center repeat-y,
    url(../images/background/move-3.svg) left center repeat-y,
    url(../images/background/move-4.svg) center center repeat-y, 
	url(../images/background/background_top_transparent.png) top left no-repeat;
    background-size: contain;
    animation: flow-r 40s infinite ease-in-out;
}

@keyframes flow-y {
    50% { background-position: 0 11rem , 0 -22rem, 0 55rem, 0 -110rem, 0 30rem, 0 0rem;  }
}
@keyframes flow-r {
    50% { background-position: 0 -1rem , 0 2rem, 0 -5rem, 0 10rem, 0 -30rem, 0 0rem;  }
}
 



